.header{
    padding: 10px;
    background-color: #1e1b1bb6;
    color: white;
    text-align: center;
}
body{
    margin: 0;
    background-image: url("http://getwallpapers.com/wallpaper/full/9/2/e/385992.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
    background-repeat: no-repeat;
}
.searchBox{
    background-color: black;
    padding: 20px;
    max-width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    text-align: center;
    border-top: solid white;
    border-radius: 20px;
    border-bottom: solid #ebedee;
}
#list{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    padding: 20px;
}
.card{
    background:linear-gradient(90deg, #cfd9df 0%,#e2ebf0 100% );
    text-align: center;
    max-width: 100%;
    border-radius: 10px;
    padding: 5px;
}
.poster{
    width: 100%;
}
@media only screen and (max-width: 768px) {
    body {background: black;}
}